@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy-Medium', sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
